#about-content {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about-content h2 {
    color: #333;
}

#about-content p {
    color: #666;
    line-height: 1.6;
}